#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        position: (0.0, 0.0, 0.0),
        velocity: (0.0, 0.0, 0.0),
        texture: Asset(File("textures/monster.png", PngFormat, ())),
        health: 100,
        attack: 10,
      ),
    ),
  ],
)