#![enable(implicit_some)]
Prefab(
  entities: [
    PrefabEntity(
      data: Moon (
        velocity: Velocity(
          x: 0.0,
          y: 0.0,
          z: 0.0
        ),
        randomizeSpawnPoint: RandomizeSpawnPoint(
          randomized: false
        ),
        sprite: (
          sheet: Sheet(
            texture: File(
              "texture/moon.png",
              ("IMAGE", (
                sampler_info: (
                  min_filter: Nearest,
                  mag_filter: Nearest,
                  mip_filter: Nearest,
                  wrap_mode: (Tile, Tile, Tile),
                  lod_bias: (0),
                  lod_range: (
                      start: ( 0 ),
                      end: ( 8000 ),
                  ),
                  comparison: None,
                  border: (0),
                  normalized: true,
                  anisotropic: Off,
                ),
              ))
            ),
            sprites: [
              List((
                texture_width: 232,
                texture_height: 232,
                sprites: [
                  (x: 0,   y: 0, width: 232, height: 233),
                ]
              ))
            ],
            name: "moon",
          ),
          render: (
            sheet: "moon",
            sprite_number: 0
          ),
          transform: (
            translation: (0.0, 0.0, 0.0)
          )
        ),
    )
  )],
)